body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats-container {
    margin: 20px;
    border: dotted green;
    min-width: 200px;
    height: 100px;
}

/* changing layout when scren size <=600px */
@media (max-width:600px) {
    body {
        flex-direction: column; 
    }
    
}