body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats-container {
    margin: 20px;
    border: dotted green;
    min-width: 200px;
    height: 100px;
    padding: 20px;
    position: relative;
}

.icon {
    position: absolute;
    /* making icon to center */
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

/* numbers */
.counter {
    font-size: 40px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    color: green;
}

/* string */
.stats-container h4 {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


/* changing layout when scren size <=600px */
@media (max-width:600px) {
    body {
        flex-direction: column; 
    }
    
}